

//config
// @import "config/mixins.scss";
@import "config/variables.scss";
//layout
@import "layout/fonts.scss";
@import "layout/base.scss";
@import "layout/adjustments.scss";
//sections
@import "sections/welcome.scss";

$orange: #e25028;
$orange-hover: #c1401e;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$white: #fff;
$container-width: 940px;

body {
 
    font-size: 14px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    line-height: 1.42;
    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
  }
  
  *, *::before, *::after { 
    box-sizing: border-box; 
  }
  
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;

    li{
    list-style: none;
   }
 }

 h1,h2,h3,h4,h5,h6,{
   margin:0;
   font-weight:normal;
 }

 p{
   margin:0;
 }

//   .visuallyhidden {
//     position: absolute;
  
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
  
//     white-space: nowrap;
  
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//   }

.wrapper {
    min-width: $container-width + 20px;
    height: 100%;
  }
  
  .maincontent {
    height: 100%;
    min-height: 650px;
  }
  
  .container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .section {
    height: 100vh;
    background-color: rgba(0,0,0,0.31);
    min-width: 940px;
    min-height: 650px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__title{
        font-size: 72px;
        font-weight: 400;
        
        font-family:'Gagalin';
        &--orange{
            color: $yellow;
        }        
        &--black{
        color: $dark;
        }
     }        
    }


.welcome {
    background-image: url('../img/background/welcome-bg.png');
    &__header{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    &__content{
        // position: absolute;
        top: 50%;
        left: 50%;
        transform: translate (-50%, -50%);
    }

}

.navigation{
    display:flex;
    align-items: center;
    &__list{ 
        display:flex;
    }
    &__link{
        color: $white;
    }
    .button{
        margin-left: 15px;
    }
}

.button{
    border:none;
    border-radius: 3px;
    padding: 13px 16px;
    color: $white;
    transition: .3s;
    cursor: pointer;

    &_color_orange{
        background-color: $orange;
        &:hover {
            background-color: $orange-hover;
        }
    }
}

.welcome-content{
    display: flex;
    align-items: center;

    &__right{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}



.welcome-content__description{
    font-size: 65px;
    font-weight: 400;
    color: #fff;
    font-family: 'Lifehack';
}

.arrow{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}


//section best

.best{
    background-image: url('../img/background/best-bg.png');
    .container{
        justify-content: center;
        align-items: center;
    }
    .section__title{
        margin-bottom: 60px;
    }
}

.advantages{
    &__list{
        display: flex;
        margin-left: -20px;
    }
    &__item{
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

.advantage{
    display:flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    &__icon{
        width:100px;
        height:100px;
    }
    &__img{
        min-width: 100%;
        max-height: 100%;
    }
    &__title{
        color: $dark;
        font-family: 'Lifehack';
        font-size: 24.12px;
        text-align: center;
    }
    &__description{
        color: #696868;
        font-family: 'Ubuntu';
        font-size: 14.01px;
        font-weight: 300;
        text-align: center;
    }
}


