//config
@import "config/mixins.scss";
@import "config/variables.scss";
//layout
@import "layout/fonts.scss";
@import "layout/base.scss";
@import "layout/adjustments.scss";
//sections
@import "sections/organic.scss";

.wrapper{
    position: relative;
    
    height: 100%; 
}

.allcontent{
height: 100%;
}

.container{
    width: 940px;
    display: flex;
    flex-direction: column;
}
.section{
    height: 100vh;
    min-height:650px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.organic {
    position: absolute;
    background-image: url('../../img/background/video-bg.png');
}
.organic::before {
    position: absolute;
  content: url('../../img/background/texture.png');
}


.content__text--top{
    font-size: 72px;
    font-weight: 400;
    color: #f9b43b;
    font-family:'Gagalin';
}

.content__text--bottom{
    font-size: 65px;
    font-weight: 400;
    color: #fff;
    font-family: 'Lifehack';
}



