.wrapper{
    position: relative;
    
    height: 100%;
}

.allcontent{
height: 100%;
}

.container{
    width: 940px;
    display: flex;
    flex-direction: column;
}
.section{
    height: 100vh;
    min-height:650px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first {
    position: absolute;
    background-image: url('../../img/background/video-bg.png');
}
.first::before {
    position: absolute;
  content: url('../../img/background/texture.png');
}


.content__text--top{
    font-size: 72px;
    font-weight: 400;
    color: #f9b43b;
    font-family:'gagalinregular';
}

.content__text--bottom{
    font-size: 65px;
    font-weight: 400;
    color: #fff;
    font-family: 'lifehackmedium';
}



