.first {
    height: 650px;
    width: 1100px;
    position: relative;
    background-image: url('../../img/background/video-bg.png');
    background-repeat: no-repeat;
}

.first::before {
    height: 650px;
    width: 1100px;
    position: absolute;
  content: url('../../img/background/texture.png');

}

.logo, .menu, .order, .content__column, .menu__item {
    display: inline-block;
}
.content__text--top{
    font-size: 72px;
    font-weight: 400;
    color: #f9b43b;
    font-family: 'gagalinregular';
}

.scroll{
    display: inline-block;
    text-align: middle;
}



